<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<div align="center">

    <h1>Create Product</h1>
    <p>
        <a href="/products">Product list</a>
    </p>
    <form action="" method="post">
        <table>
            <tr>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td><input type="text" name="price"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create Product"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>