<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <a href="/create-product">Create new products</a>
    <h1>products</h1>
    <table border="1">
        <tr>
            <th>name</th>
            <th>price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a></td>
                <td><a th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>